.container {
  position: relative;
  height: 90vh;
  padding-top: 0;
  max-height: 90vh;
  width: 100vw;
  overflow: hidden;

  & > img {
    object-fit: cover;
    width: 100%;
    position: fixed;
    top: 0;
    height: 90vh;
    max-height: 90vh;
    z-index: 2;
  }

  & > .overlay {
    position: fixed;
    inset: 0 0 unset 0;
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #00000000 0%, var(--background-color) 150%);
    z-index: 3;
  }

  & > #headerSVG {
    z-index: 4;

    & > svg {
      height: 90px;
      max-width: 250px;
    }
  }
}

.body {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--tint-main);
  z-index: 5;
  margin-block: 0;
  overflow: hidden;
  height: 100%;

  & h1, & h2 {
    margin-block: 0;
    text-align: center;
  }

  & > div {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100vh;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 40px;
      max-width: 30vw;
      min-height: 100vh;
      height: 100vh;
      text-align: justify;
    }
  }
}
.description{
  min-width: 50vw!important;
  width: 50vw!important;
  max-width: 50vw!important;
  & > p{
    text-align: justify;
  }
  & > h1{
    text-align: left;
  }
}
.descriptionAnimation{
  max-width: 30vw;
  max-height: 50vh;
  & > div {
    max-width: 30vw;
    max-height: 50vh;
  }
}