.container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  padding-block: 90px;
  background: linear-gradient(45deg, var(--tint-underlay), var(--tint-low-contrast));

  & > button {
    color: whitesmoke;

    &:hover {
      color: white;
    }
  }
}

.title {
  text-align: center;
  margin-top: 10px;
  font-family: var(--font-cursive);
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 40px;
  padding-block: 20px;
  margin-block: 20px;
  transform-style: preserve-3d !important;
  overflow: visible !important;
  -webkit-backface-visibility: hidden; /* I added this */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  transition: transform 4s ease-in-out;

  &:hover > div:nth-child(1) {
    transform: scale(1.2);
  }

  & > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    transform: rotateY(-10deg);
    background-color: var(--item-main);
    border-radius: var(--border-radius-more);
    border: 5px solid transparent;
    padding-inline: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    overflow: visible !important;
    align-items: flex-start;


    & h2 {
      margin-block: 20px;
    }

    & a {
      margin-inline: 0;
    }
  }

  &:hover > div:nth-child(2) {
    border-color: var(--tint-underlay);
  }
}

.projectReverse {
  flex-direction: row-reverse;


  & > div:nth-child(2) {
    transform: rotateY(10deg);

  }
}

.bottomCurve {
  fill: var(--background-color);
}

.slimLibraryAnimation {
  width: 18vw;
  padding: 100px;
  transform: rotate(45deg) translateX(0px) translateY(50px);
  margin-block: -200px
}

.hospitalAnimation {
  width: 30vw;
}

.securityAnimation {
  width: 25vw;
  margin-inline: 50px;
}

@media screen and (max-width: 1280px) {
  .project {
    flex-direction: column;

    & > div:nth-child(2) {
      transform: rotateY(0);
      align-items: center;

      & a {
        //margin-left: auto;
      }
    }
  }
  .slimLibraryAnimation {
    width: 25vw;
    max-width: 25vw;
    margin-block: -100px;
  }
  .hospitalAnimation {
    width: 25vw;
    max-width: 25vw;
  }
  .securityAnimation {
    width: 25vw;
    max-width: 25vw;
  }

}