.container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 100px;
  width: 100vw;
  background: linear-gradient(180deg, var(--background-color) 10%, #00000055 100%);
  & > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.image{
  object-fit: contain;
  display: flex;
  margin-inline-start: 50px;
}
.textSection{
  display: flex;
  flex-direction: column;
  flex: 1;
  & p{
    margin-block: 5px;
  }
  & svg{
    margin-inline-end: 10px;
  }
}

@media screen and (max-width: 900px){
  .container{
    display: none;
  }
}